### Write a function to find the Max of three numbers.

In [3]:
def max_of_two( x, y ):
    if x > y:
        return x
    return y
def max_of_three( x, y, z ):
    return max_of_two( x, max_of_two( y, z ) )
print("max number among three is:")
print(max_of_three(10, 30, 20))

max number among three is:
30

### Write a function to sum all the numbers in a list.

In [5]:
list=[22,45,6,54]
def sum(numbers):
    total = 0
    for x in numbers:
        total += x
    return total
print(sum((list)))

127

### Write a function to multiply all the numbers in a list.

In [12]:
list1 = [5, 3, 8]
def multiplyList(myList) :
    result = 1
    for x in myList:
         result = result * x
    return result
print(multiplyList(list1))

120

### Write a function to reverse a string.

In [14]:
def reverse(s):
  str = ""
  for i in s:
    str = i + str
  return str
  
s = "Edubridge"
  
print ("The original string  is : ",end="")
print (s)
  
print ("The reversed string is : ",end="")
print (reverse(s))

The original string  is : Edubridge
The reversed string is : egdirbudE

### Write a function to calculate the factorial of a number.

In [15]:
num = int(input("Enter a number: "))
def factorial(x):
    if x == 1:
        return 1
    else:
        return (x * factorial(x-1))
result = factorial(num)
print("The factorial of", num, "is", result)

Enter a number: 6
The factorial of 6 is 720

### Write a function that accepts a string and calculate the number of upper case letter and lower case letters.

In [38]:
word=input("Enter the word: ")
def up_low(string):
  uppers = 0
  lowers = 0
  for char in string:
    if char.islower():
      lowers += 1
    elif char.isupper():
      uppers +=1
    else: 
      pass
  print("Upper case is:",uppers)
  print("Lower case is:", lowers)
print(up_low(word))

Enter the word: Hello Word
Upper case is: 2
Lower case is: 7
None

### Write a function that takes a list and returns a new list with unique elements of the first list.

In [39]:
def list(l):
    x = []
    for a in l:
        if a not in x:
            x.append(a)
    return x
print(list([1,2,3,3,3,3,4,5]))

[1, 2, 3, 4, 5]